<%- include('partials/header') %>
<h1><%= show.title %> (<%= show.year %>)</h1>
<img src="<%= show.image %>" alt="<%= show.title %>">
<p><%= show.description %></p>
<a href="/shows">Back to TV Shows</a>
<%- include('partials/footer') %>
